%div
  =(link_counter + 1).to_s + '. '
  - image = image_tag("upvote.gif", id: "upvote_%s" % link.to_param)
  = link_to image, {action: "upvote", id: link.to_param, remote: true}, "data-link-id" => link.to_param
  %a{href: link.url}= link.name
  %span{id: "points_for_%d" % link.to_param}
    = render partial: "upvote", object: link
  =" by " + link.username
